.Search-Section {
  display: flex;
  flex-direction: row;
  padding: 0 110px;
}

.Search-Button {
  width: 100px;
  border-radius: 10px;

  margin: 10px 5px;
}

.Input {
  height: 20px;
  margin: 17px 20px;
}
